.download-button-container {
  position: fixed; 
  top: 0; 
  right: 0; 
  padding: 30px; 
}
.download-button {
  display: inline-block;
  padding: 15px 20px;
  background-color: #3d628a;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 26px;
}
.download-button:hover {
  background-color: #353d4e; 
}
